.env
.venv/
__pycache__/
*.pyc
.dlt/secrets.toml
dbt_packages/
target/
.DS_Store
**/.DS_Store
.dlt/config.toml
logs/
.claude/
aircraftDatabase.csv
ingestion/aircraftDatabase.csv
import
dbt.log
transformations/aviation_analytics/seeds/aircraft.csv
